@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Cards
@using Syncfusion.Blazor.Calendars
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Spinner


<CascadingValue Value="@sharecls">
    <SfTab CssClass="e-background e-accent" @bind-SelectedItem="@SelectedTab">
        <TabItems>
            <TabItem>
                <ChildContent>
                    <TabHeader Text="Configuracion"></TabHeader>
                </ChildContent>
                <ContentTemplate>
                    <div class="div_contenedor">

                        <div class="div_centrado">
                            <SfCard ID="BasicCard" class="e-card">
                                <CardHeader Title="Filtros de Consulta" />
                                <CardContent>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm"></div>
                                            <div class="col-sm">Desde</div>
                                            <div class="col-sm">Hasta</div>
                                            <div class="col-sm"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm"></div>
                                            <div class="col-sm">
                                                <div id="datepicker-control">
                                                    <SfDatePicker TValue="DateTime?" Value="@fecact" Placeholder="Choose a Date"></SfDatePicker>
                                                </div>
                                            </div>
                                            <div class="col-sm">
                                                <div id="datepicker-control">
                                                    <SfDatePicker TValue="DateTime?" Value="@fecact" Placeholder="Choose a Date"></SfDatePicker>
                                                </div>
                                            </div>
                                            <div class="col-sm"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm">-</div>
                                            <div class="col-sm">-</div>
                                            <div class="col-sm">-</div>
                                            <div class="col-sm">-</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm">-</div>
                                            <div class="col-sm">-</div>
                                            <div class="col-sm">-</div>
                                            <div class="col-sm">-</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm">
                                                -
                                            </div>
                                            <div class="col-sm">
                                                <SfButton IsPrimary="true" @onclick="ClickEvent">Consultar</SfButton>
                                            </div>
                                            <div class="col-sm">
                                                <SfButton IsPrimary="true">Salir</SfButton>
                                            </div>
                                            <div class="col-sm">
                                                -
                                            </div>
                                        </div>
                                    </div>
                                </CardContent>
                                <CardFooter>
                                </CardFooter>
                            </SfCard>
                        </div>
                        <div class="spiner">
                            <SfSpinner  Visible="@VisibleProperty" Type="@SpinnerType.Material" Label="Cargando..." />
                        </div>
                    </div>
                </ContentTemplate>
            </TabItem>
            <TabItem>
                <ChildContent>
                    <TabHeader Text="Ventas Por Producto"></TabHeader>
                </ChildContent>
                <ContentTemplate>
                    <VentasPorProducto Text="xdxd"></VentasPorProducto>
                </ContentTemplate>
            </TabItem>
            <TabItem>
                <ChildContent>
                    <TabHeader Text="Ventas Por Bodega"></TabHeader>
                </ChildContent>
                <ContentTemplate>
                    <VentasPorProducto></VentasPorProducto>
                </ContentTemplate>
            </TabItem>
            <TabItem>
                <ChildContent>
                    <TabHeader Text="Ventas Por Cliente"></TabHeader>
                </ChildContent>
                <ContentTemplate>
                    <VentasPorProducto></VentasPorProducto>
                </ContentTemplate>
            </TabItem>
        </TabItems>
    </SfTab>
</CascadingValue>

<style>

    .e-card {
        width: 600px;
        margin: auto;
    }

    .spiner {
        top: 300px;
        position: absolute;        
        left: 50%;
    }
    /*  .div_contenedor {
        height: 80vh;
    }

    .div_centrado {
        background: yellow;
        width: 200px;
        height: 200px;
        position: absolute;
        top: 50%;
        margin-top: -100px;
    }*/
</style>


