@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Cards
@using Syncfusion.Blazor.Calendars
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Spinner


<CascadingValue Value="@sharecls">
    <SfTab CssClass="e-background e-accent" @bind-SelectedItem="@SelectedTab">
        <TabItems>
            <TabItem>
                <ChildContent>
                    <TabHeader Text="Configuracion"></TabHeader>
                </ChildContent>
                <ContentTemplate>
                    <div class="div_contenedor">
                        <div class="div_centrado">
                            <SfCard ID="BasicCard" class="e-card">
                                <CardHeader Title="Filtros de Consulta" />
                                <CardContent>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm"></div>
                                            <div class="col-sm">Desde</div>
                                            <div class="col-sm">Hasta</div>
                                            <div class="col-sm"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm">Fecha</div>
                                            <div class="col-sm-3">
                                                <div id="datepicker-control">
                                                    <SfDatePicker TValue="DateTime?" Value="@fecact" Placeholder="Choose a Date"></SfDatePicker>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div id="datepicker-control">
                                                    <SfDatePicker TValue="DateTime?" Value="@fecact" Placeholder="Choose a Date"></SfDatePicker>
                                                </div>
                                            </div>
                                            <div class="col-sm-3"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm">Referencia</div>
                                            <div class="col-sm-3">
                                                <SfTextBox Placeholder='referencia ini'></SfTextBox>
                                            </div>
                                            <div class="col-sm-3">
                                                <SfTextBox Placeholder='referencia fin'></SfTextBox>
                                            </div>
                                            <div class="col-sm">-</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm">Bodega</div>
                                            <div class="col-sm-3">
                                                <SfTextBox Placeholder='bodega ini'></SfTextBox>
                                            </div>
                                            <div class="col-sm-3">
                                                <SfTextBox Placeholder='bodega fin'></SfTextBox>
                                            </div>
                                            <div class="col-sm">-</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm">Cliente</div>
                                            <div class="col-sm-3">
                                                <SfTextBox Placeholder='cliente ini'></SfTextBox>
                                            </div>
                                            <div class="col-sm-3">
                                                <SfTextBox Placeholder='cliente fin'></SfTextBox>
                                            </div>
                                            <div class="col-sm">-</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm">Vendedor</div>
                                            <div class="col-sm-3">
                                                <SfTextBox Placeholder='vendedor ini'></SfTextBox>
                                            </div>
                                            <div class="col-sm-3">
                                                <SfTextBox Placeholder='vendedor fin'></SfTextBox>
                                            </div>
                                            <div class="col-sm">-</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm">Linea</div>
                                            <div class="col-sm-3">
                                                <SfTextBox Placeholder='linea ini'></SfTextBox>
                                            </div>
                                            <div class="col-sm-3">
                                                <SfTextBox Placeholder='linea fin'></SfTextBox>
                                            </div>
                                            <div class="col-sm-3">-</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm">Grupos</div>
                                            <div class="col-sm-3">
                                                <SfTextBox Placeholder='grupo ini'></SfTextBox>
                                            </div>
                                            <div class="col-sm-3">
                                                <SfTextBox Placeholder='grupo fin'></SfTextBox>
                                            </div>
                                            <div class="col-sm">-</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm">
                                                -
                                            </div>
                                            <div class="col-sm-3">
                                                <SfButton IsPrimary="true" @onclick="ClickEvent">Consultar</SfButton>
                                            </div>
                                            <div class="col-sm-3">
                                                <SfButton IsPrimary="true">Salir</SfButton>
                                            </div>
                                            <div class="col-sm">
                                                -
                                            </div>
                                        </div>
                                    </div>
                                </CardContent>
                                <CardFooter>
                                </CardFooter>
                            </SfCard>
                        </div>
                        <div class="spiner">
                            <SfSpinner Visible="@VisibleProperty" Type="@SpinnerType.Material" Label="Cargando..." />
                        </div>
                    </div>
                </ContentTemplate>
            </TabItem>
            <TabItem>
                <ChildContent>
                    <TabHeader Text="Ventas Por Producto"></TabHeader>
                </ChildContent>
                <ContentTemplate>
                    <VentasPorProducto></VentasPorProducto>
                </ContentTemplate>
            </TabItem>
            <TabItem>
                <ChildContent>
                    <TabHeader Text="Ventas Por Bodega"></TabHeader>
                </ChildContent>
                <ContentTemplate>
                    <VentasPorBodega></VentasPorBodega>
                </ContentTemplate>
            </TabItem>
            <TabItem>
                <ChildContent>
                    <TabHeader Text="Ventas Por Cliente"></TabHeader>
                </ChildContent>
                <ContentTemplate>
                    <VentasPorCliente></VentasPorCliente>
                </ContentTemplate>
            </TabItem>
            <TabItem>
                <ChildContent>
                    <TabHeader Text="Ventas Por Vendedor"></TabHeader>
                </ChildContent>
                <ContentTemplate>
                    <VentasPorVendedor></VentasPorVendedor>
                </ContentTemplate>
            </TabItem>
            <TabItem>
                <ChildContent>
                    <TabHeader Text="Ventas Por Linea"></TabHeader>
                </ChildContent>
                <ContentTemplate>
                    <VentasPorLinea></VentasPorLinea>
                </ContentTemplate>
            </TabItem>
        </TabItems>
    </SfTab>
</CascadingValue>

<style>

    .e-card {
        width: 700px;
        margin: auto;
        top: 50px
    }

    .spiner {
        top: 300px;
        position: absolute;
        left: 50%;
    }

   
    

</style>


